html {
  box-sizing: border-box;
  background-color: #f0eee8;
  line-height: 1.5rem;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.link-card {
  display: block;
  text-decoration: none;
  background-color: #dcd4cd;
  border: 2px solid #785439;
  border-radius: 3px;
  margin: .5rem;
  padding: 1rem;
}

.link-card:hover {
  background-color: #cabdb2;
  border-color: #785439;
}

a {
  color: #512200;
  text-align: left;
}

.link-card h2 {
  color: #512200;
  font-family: Dosis, sans-serif;
  margin: 0;
}

.description {
  display: inline-block;
}

.link-card:hover .btn {
  background-color: #512200;
  color: #9a816d;
}

dl {
  display: block;
  margin: 0 0 1rem;
  padding: 1rem 0 0;
  border-top: 2px solid #785439;
  border-bottom: 2px solid #785439;
}

dt {
  display: inline-block;
  text-align: left;
  margin: 0 4.75rem 0 0;
  font-size: .875rem;
}

dd {
  display: inline-block;
  text-align: left;
  margin: 0;
  font-style: italic;
  font-size: .875rem;
}

.anth {
  margin: 0 0 0 .5rem;
}

.inse {
  margin: 0 0 0 1.5rem;
}

.cole {
  margin: 0 0 0 1rem;
}

.scar {
  margin: 0 0 0 .75rem;
}

.subo {
  margin: 0 4.5rem 0 0;
}

.supe {
  margin: 0 3.5rem 0 0;
}

.btn-wrap {
  display: block;
  text-align: center;
}

.btn {
  display: inline-block;
  margin: 0;
  padding: .4em .75em .5em;
  background-color: #785439;
  color: #f0eee8;
  font-weight: bold;
  border-radius: 8px;
  border-width: 3px;
  font-family: Dosis, sans-serif;
}
